env
**/*.pyc
**/__pycache__
media
.DS_Store
*.sqlite3
*.env
.idea
bin/buck.py
bin
# Accept these files in the repository
!.gitignore
!.travis.yml
/.env
/.vscode
/venv
/.idea
/static_in_env
/frontend
local_tests