{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Documentation Api Deloitte</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css"/>
</head>
<body>
<div id="swagger-ui"></div>
<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const ui = SwaggerUIBundle({
        url: "{% url schema_url %}",
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
        requestInterceptor: (request) => {
            request.headers['X-CSRFToken'] = "{{ csrf_token }}"
            return request;
        }
    })
</script>

<script>
    function swal_alert(title, text, type) {
        return new Promise((resolve, reject) => {
            swal({
                    title: title,
                    text: text,
                    icon: type,
                    showCancelButton: false,
                    confirmButtonColor: "#006999",
                    cancelButtonColor: "#b3e7ff",
                    confirmButtonText: "OK",
                    closeOnConfirm: true,
                    closeOnCancel: false,
                    {#className: 'sweet-alerta'#}
                }
            )
        })
    }


    async function swal_confirm(title, text, type) {
        return new Promise((resolve, reject) => {
            swal({
                title: title,
                text: text,
                icon: type,
                buttons: true,
                dangerMode: true,
                showCancelButton: true,
                confirmButtonColor: "#006999",
                cancelButtonColor: "#b3e7ff",
                confirmButtonText: "Sim, continuar",
                cancelButtonText: "Não, cancelar!",
                closeOnConfirm: true,
                closeOnCancel: true
            }).then((value) => {
                resolve(value)
            });
        })
    }
</script>
<script>
    {% if messages %}
        {% for message in messages %}
            swal_confirm('Olá {{ request.user.first_name }}', '{{ message.message }}', '{{ message.tags }}')
        {% endfor %}
    {% endif %}</script>
</body>

</html>