{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Documentation Api Deloitte</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css"/>
</head>
<body>
<div style="padding: 20px 0 10px 38px">
    {% if request.user.is_authenticated %}
        <form method="post" action="/logout/">
            {% csrf_token %}
            <button type="submit">Fazer logout</button>
        </form>
    {% else %}
        <form method="post" action="/login/">
            {% csrf_token %}
            <input type="text" name="username" placeholder="digite o username..."/>
            <input type="password" name="password" placeholder="digite a senha..."/>
            <input type="hidden" name="next" value="/api/v1/docs"/>
            <button type="submit">Fazer login</button>
        </form>
    {% endif %}
</div>
<div id="swagger-ui"></div>
<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<script>
    const ui = SwaggerUIBundle({
        url: "{% url schema_url %}",
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
        requestInterceptor: (request) => {
            request.headers['X-CSRFToken'] = "{{ csrf_token }}"
            return request;
        }
    })
</script>
</body>
</html>